<div fxLayout="column" fxLayoutAlign="center center"fxLayoutGap="30px">
    <span>
    <b>Are you sure you want to delete this Book</b></span>
    <div fxLayout="row" fxLayoutAlign="space-between center"style="border:1px solid black;width:100%">
    <button mat-button fxLayoutAlign="center center" (click)="deleteBook()" style="cursor:pointer;width:20%;height:30px;background:#4266B2;border:none;color:white;" id="close"  fxLayout="row">Yes</button>
    <button mat-button fxLayoutAlign="center center" (click)="close()" style="cursor:pointer;width:20%;height:30px;background:#4266B2;border:none;color:white;" id="close"  fxLayout="row">No</button>
</div>
</div>