<div class="container">
  
    <mat-toolbar style="background:#A03037" fxLayout="row" fxLayoutAlign="space-around center">

            <!--BookStore logo-->
            <div fxLayout="row" fxLayoutGap="10px">
            
                <img src='../assets\header\education.svg' class="booklogo">
                <span><h1 style="color:#FFFFFF">Bookstore</h1></span>
            
            </div>
            
            <!--Search_Bar-->
            <div fxLayout="row">
            
                <img style="background:black;" src='../assets\header\search_white_24dp.svg' class="searchIcon">
                <input type="text" placeholder="search.." class="searchInput">
                
            </div>
            
            <!-- Cart -->
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35px">
                
                <button mat-stroked-button style="background-color:#A03037; border:none; color:#FFFFFF;" fxLayout="column" fxLayoutAlign="center center">
                    <img src='../assets\header\person_white_24dp.svg' class="image">
                    <span style="color:#FFFFFF">Profile</span>
                </button>

                <button mat-stroked-button style="background-color:#A03037; border:none; color:#FFFFFF;" fxLayout="column" fxLayoutAlign="center center">
                    <img src='../assets\header\shopping_cart_white_24dp.svg' class="image">
                    <span style="color:#FFFFFF">Cart</span>
                </button>
            </div>
            

    </mat-toolbar>

</div>