// .container{
//     border: 2px solid red;
//     width: 1366px;
//     height: 60px;
// }

// .mat-toolbar{
//     border: 2px solid blue;
//     width: 1365px;
//     height: 60px;
// }

.searchInput{
    top: 14px;
    left: 334px;
    width: 490px;
    height: 33px;
}

.image{
    width: 31px;
    height: 36px;
}