.mat-card{
    // border: 1px solid red;
    width: 389px;
    height: 380px;
  }

.content{
    width: 252px;
    height: 25px;
  }
.button{
    width: 252px;
    height: 37px;
    // margin-bottom: 1px;
}