.footer {
      background-color: #2e1d1e;
      color: white;

        // position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        // background-color: red;
        color: white;
        // text-align: center;

      
    }

.footText {

    width: 330px;
    height: 15px;
    text-align: left;
    font-size: 12px;
    font-family: Lato,Medium;
    margin-bottom: 17px;

    // margin: 18px 0px 17px 174px;

}