.mat-card{

    width: 270px;
    height: 90px;
}

.image{
    width: 65px;
    height: 85px;
    opacity: 1;
    position: relative;
    top:21px;

}

.bookName{
    height:24px;
    width:167px;
}

.authorName{
    height:16px;
    width:76px;
}

.bodyBox{
    height:180px;
}


