.booklogo{

    margin-left: 164px;
}

.content{
    width: 292px;
    height: 35px;
}

.button{
    width: 292px;
    height: 35px;
}

.create-button{
    width:424px;
    height: 100px;

}

.forgetcard{
    
    width: 424px;
    height: 287px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    opacity: 1;
    position:relative;
}

.head-body{
    margin-top:40px;
}
.createCard{
    width: 424px;
    height: 100px;
    background: #F9F9F8 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 0px 0px 6px 6px;
    opacity: 1;
    position: relative;
    // margin-bottom: 20px;
}
.createCard{
    
    cursor: pointer;
}

.resetbutton{

    cursor: pointer;
}