<div class="main-container" >
        <div class="header">
            <mat-toolbar style="background:#A03037" fxLayout="row">
                <div class="book" fxLayoutGap="3px" fxLayoutAlign="center center">
                    <img src="..\assets\education.svg" alt="" height="23.71px" width="31.04px">
                    <span style="color:#FFFFFF;" class="title">Bookstore</span>
                </div>
            </mat-toolbar>
        </div>
   
    
        <div class="head-body" fxLayoutAlign="center center">
            <h2 class="heading" >Forgot Your Password?</h2>
        </div>

                <div class="body" fxLayoutAlign="center center" fxLayout="column">
                    
                        <mat-card class="forgetcard"  fxLayout="column" fxLayoutAlign="space-around center">
                                            <mat-card-subtitle fxFlexAlign="center center" style="margin-top:20px; margin-bottom:-20px">
                                                Enter your email address and we'll send you<br>
                                                a link to reset your password.
                                            </mat-card-subtitle>

                                            <div fxLayout="column" fxLayoutAlign="center start">
                                                <mat-label>Email Id</mat-label>
                                                <mat-form-field appearance="outline" class="content">
                                                    <input matInput placeholder="">
                                                    <mat-error fxLayoutAlign="end">Email required !</mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="resetbutton">
                                                <button type="submit" mat-flat-button (click)="onSubmit()" style="background-color:#A03037; border:none; color:#FFFFFF; border-radius:3px;" class="button">Reset Password</button>
                                            </div>

                        </mat-card>

                        <mat-card fxLayout="row" fxLayoutAlign="center center" class="createCard">
                                
                                <div><button class="create-button" style="border:none;" routerLink="/orderlogin" fxLayoutAlign="center center">CREAT ACCOUNT</button></div>
                        </mat-card>
                </div>       
</div>